<!doctype html>
<html>

<head>
    <title>Eve Incinerator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">


    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jsrender.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search and Filter</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row well well-sm input-group">
                                <input type="text" class="form-control" id="searchText" placeholder="Search" value="talocan">
                                <span class="input-group-btn">
									<button class="btn btn-default" id="btnSearch" type="button">Go!</button>									
                                </span>
                            </div>
                            <div class="row well well-sm">
                                <label for="listOfItems">Filter</label>
                                <ul class="list-group" id="listOfItems"></ul>
                                <span class="badge pull-right" id="numberOfFilteredItems">0 Filtered Items</span>
                            </div>

                            <div class="row well well-sm">
                                <label for="listOfIngredients">What can I cook up?</label>
                                <ul class="list-group" id="listOfIngredients"></ul>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span id="currentList">Default</span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Default</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#" id="btnDeleteList">Delete List</a></li>
                                        <li><a href="#" id="btnEmptyList">Empty List</a></li>
                                        <li><a href="#" id="btnDuplicate">Save as a New List</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-default pull-right" id="btnCook">Cook</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">BP</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group  table-striped" id="listOfBlueprints"></ul>
                    </div>
                    <div class="panel-footer">
                        <span class="badge" id="numberOfInvestmentOptions">0</span> Blueprints to Invest
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog" title="Save as a New List">
        <input type="text" id="newListName" value="" placeholder="List Name" class="form-control">
    </div>

    <script id="listOfItemsTmpl" type="text/x-jsrender">
        {% raw %}
        <li class="list-group-item">
            <div class="media-left">
                <img class="media-object" src="static/Types/{{:id}}_32.png">
            </div>
            <div class="media-body">
                <button class="btn btn-danger btn-sm pull-right glyphicon glyphicon-remove delete hidden"></button>
                <button class="btn btn-default btn-sm pull-right glyphicon glyphicon-info-sign info hidden" onclick="CCPEVE.showInfo({{:id}})"></button>

                <h5 class="list-group-item-heading" data-id="{{:id}}">{{:name}}</h5>
                <p class="list-group-item-text hidden">{{:description}}</p>
            </div>
        </li>
        {% endraw %}
    </script>
</body>

</html>
