<!doctype html>
<title>Hello from Flask</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
       $("#item").on('keyup', searchItem);
    });
    
    function searchItem(event){
        if($(event.currentTarget).val().length>=3){
            $.ajax({
                url:"/am",
                dataType:"json",
                success:function(data){
                    console.log(data);
                }
            });
        }
    }
    
    
</script>
<input type="text" id="item" value="aaa">